header a {
    color: #fff !important;
}
.userName p{
    margin-top: 15px;
}

.charts span svg > g:nth-child(5){
    display: none;
}
.fill-height {
    height: auto;
}
.backToForum{
    margin-right:1%;
}
v-cloak{
    display: none;
}
